* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*UTILITIES*/

.text-white {
  color: white;
}

.text-gray {
  color: #6A6C72;
}

.mt-30 {
  padding-top: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pt-5 {
  padding-top: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.align-center {
  vertical-align: middle;
}




body {
  background-color: #141922;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
  background-color: #080b1296;
  height: 80px;
  position: fixed;
  left: 230px;
  width: 100%;
  z-index: 1000;
}

footer {
  background-color: green;
  height: 80px;
  width: 100%;
}

main {
  padding-top: 100px;
  padding-left: 250px;
  padding-bottom: 100px;
  height: calc(100vh - 80px);
  overflow-y: auto;
}

h2 {
  font-size: 35px;
  margin-top: 40px;
}

ul {
  list-style: none;
}

.container {
  max-width: 1600px;
  width: 100%;
}


/*HEADER*/
.cta {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  color: white;
  border: 2px solid white;
  padding: 10px 40px;
  border-radius: 30px;
  margin-right: 240px;
  cursor: pointer;
}

.btn:hover {
  background-color: #9FEA2D;
  color: black;
}


/*LEFT MENU*/
.left-menu {
  background-color: black;
  width: 230px;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 80px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-menu .bottom-menu .download:hover {
  cursor: pointer;
  color: white;
}

.left-menu .logo {
  filter: invert(0);
  object-fit: cover;
  margin-top: 100px;
  width: 75%;
}

.left-menu .small-img {
  width: 15%;
  vertical-align: middle;
}

.left-menu .menu-playlist {
  height: calc(100vh - 430px);
  overflow: auto;
}

.left-menu ul li {
  padding-bottom: 10px;
  padding-top: 10px;
}

.left-menu ul:first-child li {
  font-size: 18px;
  font-weight: 800;
}


.left-menu ul li:hover {
  color: white;
  cursor: pointer;
  border-left: 3px solid #9FEA2D;
  padding-left: 20px;
}

.left-menu .smart-menu:hover {
  color: white;
  cursor: pointer;
  border-left: 3px solid #9FEA2D;
  padding-left: 20px;
}

.left-menu .bottom-menu hr {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 90%;
}

.left-menu .bottom-menu .user {
  margin-bottom: 10px;
}

.left-menu .bottom-menu img {
  width: 12%;
  background-color: gray;
  border-radius: 50%;
}

.left-menu .bottom-menu .user:hover {
  color: #9FEA2D;
  cursor: pointer;
}







/*-------------------------------------------*/



/*NAVIGATION MAIN*/
main ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main ul li {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

main ul li:hover {
  border-bottom: 3px solid #9FEA2D;
  color: white;
}

/*------------------------------------*/



/*SECTION MAIN MARGIN*/
.recently {
  margin-bottom: 50px;
}

/*-----------------------------------------------*/
/*MAIN CONTENT*/

.row {
  display: flex;
}

.row .card {
  margin-right: 20px;
  width: calc(100% / 7);
  text-align: center;
}

.row .card img {
  object-fit: contain;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.row .card.radius img {
  border-radius: 50%;
}

.title-song {
  padding-bottom: 10px;
  font-size: 24px;
}

.title-playlist h2 {
  margin-bottom: 15px;
}

/*----------------------------------------------------*/


@media screen and (max-width: 1200px) {

  .row {
    flex-wrap: wrap;
  }

  .row .card {
    width: calc(100% / 5);
  }
}